{% extends '@WHBackendTemplate/BackendTemplate/Layout/ajax.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {% import '@WHBackendTemplate/Twig/macros.html.twig' as macros %}

    {% form_theme form '@WHBackendTemplate/Twig/bootstrap_3_layout.html.twig' %}

    {{ form_start(form, {'action' : formAction}) }}

    <div class="modal-body">
        {% for formField, properties  in formFields %}
            {{ form_row(attribute(form, formField)) }}
        {% endfor %}
    </div>

    <div class="modal-footer">
        {{ macros.listFormButtons(footerFormFields, form) }}
    </div>

    {{ form_end(form) }}

{% endblock %}